<template>          
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu">
                    <router-link :to="{name: 'Index'}" tag="span" exact class="back">
                    <
                    </router-link>
                    <div class="name">{{ $route.params.id }}廳</div>
                    <div class="last"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="video">
                <video id="myPlayer" width=400 height=200 class="video-js vjs-default-skin" autoplay loop playsinline muted controls preload="auto" >
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Chatroom
                        <span class="badge pull-right"></span>
                    </div>

                    <chat-log :messages="messages"></chat-log>
                    <chat-composer v-on:messagesent="addMessage"></chat-composer>
                </div>
            </div>
        </div>
</div>


</template>

<script>
    export default {
        props: ['id'],
        data(){
            return{
                player: '',
                url: 'http://stream.oriental-game.com/hls/Ggame'+this.id+'table1.m3u8',
                volume: 1,
                messages: [],
                usersInRoom: []
            };
        },
        created() {
            let roomID = this.id;
            axios.get('/messages/'+roomID).then(response => {
                this.messages = response.data;
            });

            Echo.join('chatroom.'+ roomID)
                .here((users) => {
                    this.usersInRoom = users;
                })
                .joining((user) => {
                    this.usersInRoom.push(user);
                })
                .leaving((user) => {
                    this.usersInRoom = this.usersInRoom.filter(u => u != user)
                })
                .listen('MessagePosted', (e) => {
                    this.messages.push({
                        message: e.message.message,
                        user: e.user,
                        roomid: roomID
                    });
                }).listen(".Illuminate\\Notifications\\Events\\BroadcastNotificationCreated", (event) => { console.log(event); });;
        },
        methods: {
            addMessage(message) {
                let roomID = this.id;
                console.log(message);
                // Add to existing messages
                message.roomid = roomID;
                this.messages.push(message);
                this.scrollToEnd();
                // Persist to the database etc
                axios.post('/messages', message).then(response => {
                    // Do whatever;
                })
            },
            scrollToEnd: function() {    	
                    var container = this.$el.querySelector(".chat-log"); 
                    console.log(container.scrollHeight);
                    container.scrollTop = container.scrollHeight;

            },
            playerInitialize(){ 
                this.player = videojs('myPlayer'); 
            },
            playerDispose(){ 
                this.player.dispose(); 
            },

            playerPlay(){
                this.player.play();
            },
            playerPause(){
                this.player.pause();
            },


            playerSetSrc(url){ 
                this.player.src(url); 
            },
            playerSetVolume(float){
                this.player.volume(float); 
            },
            playerSetPoster(url){ 
                this.player.poster(url); 
            },
            playerSetTime(time){
                this.player.currentTime(time);
            },


            playerEventEnded(){
                console.log('ended');
            },
            playerEventVolume(){ 
                this.volume = this.player.volume(); 
            },
            playerEventError(){ 
                console.log( this.playerGetError() )
            },


            playerGetPaused(){
                return this.player.paused();
            },
            playerGetTime(){
                return this.player.currentTime();
            },
            playerGetError(){
                return this.player.error().message;
            },
            
            
            playerSetupEvents(){
                this.player.on('ended', function(){ var a = window.playerEvents.playerEventEnded(); });
                this.player.on('volumechange', function(){ window.playerEvents.playerEventVolume(); });
                this.player.on('error', function(){ window.playerEvents.playerEventError(); });
            },
        },
        mounted(){
            window.playerEvents = this;
            this.playerInitialize();
            this.playerSetSrc(this.url);
            this.playerSetupEvents();
        },
        beforeDestroy() { 
            this.playerDispose(); 
        }
    }
</script>
<style>

/* M E N U */
.menu {
    float: left;
    top: 10px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 30px;
    background: rgba(82,179,217,0.9);
    z-index: 100;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.video { 
    display: block;
    left: 0px;
    right: 0px;
    width: 400px;
    height: 200px;
    z-index: 100; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    object-fit: fill;
}

.back {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}
</style>
