<template lang="html">
  <div class="chat-message">
    <h5>{{ message.user.name }} say:</h5> 
    <p>{{ message.message }}</p>
  </div>
</template>

<script>
export default {
    props: ['message']
}
</script>

<style lang="css">
.chat-message {
    padding: 1rem;

}
.chat-message > p {
    margin-bottom: .5rem;
}
</style>
