<template>
                    
    <div>
      <!--
          <transition name="router-anim" enter-active-class="animated fadeInRightBig" leave-active-class="animated fadeOutLeftBig">
      -->  
        <router-view keep-alive/>
     <!--
      </transition>
     -->
    </div>

</template>

<script>
    export default {
        mounted() {
            console.log('Start.')
        }
    }
</script>

<style>

</style>
