<template>
                    
    <div class="row">
         <div class="col-md-12" v-for="item in broadcatArray">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object dp img-circle" :src="item.img"
                        style="width: 100px;height:100px;">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><small> {{ item.title }}</small></h5>
                    <h6>{{ item.content }}</h6>
                    <hr style="margin:8px auto">
                    <router-link :to="{name: 'Broadcast', params: { id: item.id }}" tag="a" exact >
                        <span class="label btn-warning">觀看</span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        data(){
            return{
                broadcatArray: [
                    {
                        'id':1,
                        'title':'1廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':2,
                        'title':'2廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':3,
                        'title':'3廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':4,
                        'title':'4廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':5,
                        'title':'5廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },{
                        'id':6,
                        'title':'6廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':7,
                        'title':'7廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':8,
                        'title':'8廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':9,
                        'title':'9廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },
                    {
                        'id':10,
                        'title':'10廳',
                        'content':".......",
                        'img':'http://pics3.pof.com/thumbnails/size220/1136/22/57/311935dd6-93d4-46f0-beda-2c9b5a1d1b06.jpg',
                    },

                ]
            };
        },
    }
</script>

 <style>
 
        .media {
            box-shadow: 0px 0px 4px -2px #000;
            margin: 5px 0;
            padding: 2px;
            background-color: white;
        }

        .media-body {
            padding: 10px;
        }

        .media-body a {
            text-decoration: none;
        }

        .media .label {
            padding: 5px 10px;
        }

        .dp {
            border: 10px solid #eee;
            transition: all 0.2s ease-in-out;
        }

        .dp:hover {
            border: 2px solid #eee;
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -webkit-font-smoothing: antialiased;
        }
        
    </style>
